@model Dominio.EntidadesNegocio.Planta

@{
    ViewData["Title"] = "CuidadosPlanta";
}
<body class="container-fluid bg-dark text-light">
    <h1>CuidadosPlanta</h1>

    <div>
        <h4>Planta</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Tipo de iluminacion:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CuidadosPlanta.TipoIluminacion.NombreTipoIluminacion)
            </dd>
            <dt class="col-sm-2">
                Temperatura Cº
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CuidadosPlanta.Temperatura)
            </dd>
            <dt class="col-sm-2">
                Frecuencia de riego
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CuidadosPlanta.CantidadFrecRiego)
                @Html.DisplayFor(model => model.CuidadosPlanta.UnidadFrecRiego)
            </dd>
        </dl>
    </div>
    <div>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@
        <a asp-action="Index">Back to List</a>
    </div>
</body>

